.container {
    display: flex;
    padding-top: 15px;
}

.shopImage {
    width: 150px;
    margin-left: 20px;
}

.btnGroup {
    padding: 5px;
}

.details {
    margin: 15px;
}

.btnGroup button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 30%;
    font-size: 1.3rem;
    color: #1a73e8;
    text-align: center;
}

.btnGroup button:hover {
    transition: all 0.5s ease;
    background-color: rgb(187, 179, 179);
    color: white;
}

.spancounter {
    color: white;
    font-size: larger;
    margin-left: 10px;
    padding: 8px;
    background-color: #1a73e8;
    border-radius: 30%;
}

.trashbtn {
    width: 13px;
}

.trashbtn:hover {
    width: 13px;
}

.textStyles {
    margin: 15px;
    font-weight: 600;
}

.flex {
    display: flex;
    justify-content: space-around;
}