.cardFlex {
    display: flex;
    flex-wrap: wrap;
}

.flexibility {
    position: relative;
}

.card {
    width: 17rem;
    cursor: pointer;
    margin: 8px;
}

.card:hover {
    transition: all 0.3s ease;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.cardImage {
    height: 350px;
    padding: 10px;
}

.spinner {
    text-align: center;
    position: absolute;
    top: 20%;
    right: 50%;
}